
#skills 
{
    padding: 40px 20px;
}

.skill-grid 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 12px;
    margin-top: 10px;
}
.hobby-card 
{
    border: 1px solid var(--card-border);
    border-radius: 12px;
    padding: 12px;
    background: var(--card);
    transition: transform 0.15s ease;
}
.skill-card:hover,.skill-card.active 
{
    transform: translateY(-2px);
}
.skill-card.active 
{
    filter: brightness(0.95);
}
.skill-card h3
{
    padding: 0;
    margin: 5px;
}

.hobby-tag 
{
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 999px;
    background: var(--tag);
    margin-right: 5px;
}

.hobby-card.expert { border-left: 8px solid #d549ea; }
.hobby-tag.expert { background-color: #d549ea44; color: #9509aa}
.hobby-card.advanced { border-left: 8px solid #fa946f; }
.hobby-tag.advanced { background-color: #fa946f44; color: #ba542f}
.hobby-card.intermediate { border-left: 8px solid #ffcb3c;}
.hobby-tag.intermediate { background-color: #ffcb3c44; color: #bf8b00;}
.hobby-card.beginner { border-left: 8px solid #91ff4c; }
.hobby-tag.beginner { background-color: #91ff4c44; color: #51bf0c;}
/* for the tag of the main colour -> background add 44 at the end, color substract each value by 64 (16*4) - grey(familiar stays same) */


