
.projects-wrapper 
{
    margin: 25px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.projects-container 
{
    padding: 25px 0;
    display: flex;
    width: 100%;
    overflow-x: auto;  
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.projects-container::-webkit-scrollbar 
{
    display: none;
}
#projects .card 
{
    margin: 0 10px;
    flex: 0 0 calc((100% / 3) - 60px); 
    padding: 20px;
    cursor: pointer;
}
#projects .card:hover 
{
    border: 2px solid var(--accent);
}


.scroll-btn 
{
    font-size: 22px;
    width: 42px;
    height: 42px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}



/* preview box */

#projectPreview 
{
    position: fixed;
    inset: 0;
    display: none;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
}

.preview-content 
{
    background: var(--card);
    padding: 20px;
    border-radius: 12px;
    
    max-width: 80vw;
    max-height: 81vh;
    overflow-y: auto;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.preview-close 
{
    position: absolute;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 15px;
    font-size: xx-small;
    padding: 0;
}

#previewEmbed
{
    text-align:center;
}
#previewEmbed iframe
{
    border: 5px ridge var(--accent);
}

#previewLinks a
{
    display: inline-block;
    align-items: center;        /* Center vertically */
    justify-content: center;    /* Center horizontally */

    margin: 8px 8px 0 0;
    padding: 6px 12px;

    border-radius: 999px;

    background: var(--accent);
    color: var(--accent-text);
    text-decoration: none;

    font-size: 0.85rem;

    transition: all 0.2s ease;
}
#previewLinks a:hover 
{
    background: var(--accent-soft);
    text-decoration: underline;
}
#previewLinks .button img
{
    height: 16px;
}

