

input,button
{
    font-family:  var(--main-font);
    padding:10px;
    border-radius: 8px;
    margin-top: 5px;
    border-color: var(--accent-strong);
    width: 180px;
}
button
{
    background: var(--accent);
    color:var(--accent-text);
    border:none;
    cursor:pointer;
}
button:hover
{
    background-color: var(--accent-strong); /*sets the background of the colour (area is the padding)*/
}


/*links*/
a 
{
    color: var(--link);
}
a:hover 
{
    color: var(--accent-soft);
}



.tooltipWrapper 
{
    position: relative;
    display: inline-block;
}
.tooltip 
{
    position: absolute;
    top: -5px;
    left: 105%;
    width: 220px;

    background: var(--accent-soft);
    color: var(--text);
    padding: 8px;
    border-radius: 6px;
    font-size: 12px;

    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
}
.tooltipWrapper:hover .tooltip 
{
    opacity: 1;
    visibility: visible;
}
.tooltipWrapper input:focus + .tooltip 
{
    opacity: 1;
    visibility: visible;
}