

/* Work in Progress Banner */
.wipBanner 
{
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(15deg);
    color: rgba(255, 0, 0, 0.716);
    z-index: 9999;
    font-size: 5rem; /* 5 times the root font size */
    font-weight: 900; /* boldness basically*/
}
.wipBanner button 
{
    background: rgba(255, 0, 0, 0.15);
    border: none;

    width: 28px;
    height: 28px;
    border-radius: 50%;  /* makes it a circle */

    color: white;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

#bellsButton 
{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); /* Centers the button horizontally */
    padding: 10px 20px;
    z-index: 1000; /* Ensures it stays on top of other content */
}


header
{
    padding: 2vh;
    background-color: var(--headfoot-bg);
}

body 
{
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
}

.footer-sticky
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--headfoot-bg);
    text-align: center;
}

html 
{
    scroll-behavior: smooth;
}

section
{
    padding: 40px 20px;
}

footer
{
    padding: 40px 20px;
    background-color: var(--headfoot-bg);
}

.hidden 
{
    display: none;
}

.helpCursor 
{
    cursor: help;
}

.centered
{
    margin: 0 auto;
}