

/* Work in Progress Banner */
.wipBanner 
{
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(15deg);
    color: rgba(255, 0, 0, 0.716);
    z-index: 9999;
    font-size: 5rem; /* 5 times the root font size */
    font-weight: 900; /* boldness basically*/
}
.wipBanner button 
{
    background: rgba(255, 0, 0, 0.15);
    border: none;

    width: 28px;
    height: 28px;
    border-radius: 50%;  /* makes it a circle */

    color: white;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

header
{
    margin: 0;
    padding: 0.67em 0;
    background-color: color-mix(in srgb, var(--bg) 64%, rgb(154, 76, 255));
}

body 
{
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
}

html 
{
    scroll-behavior: smooth;
    scroll-padding-top: 45px; /* so when auto scrolling nav doesnt cover header */
}
