
.grid 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 12px;
    margin-top: 10px;
}
.card 
{
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 12px;
    background: #fafafa;
    transition: transform 0.15s ease;
}
.card:hover 
{
    transform: translateY(-2px);
}
.card h3
{
    padding: 0;
    margin: 5px;
}

.tag 
{
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 999px;
    background: #eaeaea;
    margin-right: 5px;
}

/* ADD MORE EXPEREINCE LEVELS AND THIER COLOURS HERE@!!!!!!! */
.card.proficient { border-left: 8px solid #4caf50; }
.tag.proficient { background-color: #4caf50; }
.card.comfortable { border-left: 8px solid #4edfff; }
.tag.comfortable { background-color: #4edfff; }
.card.familiar { border-left: 8px solid #a1a1a1; }
.tag.familiar { background-color: #a1a1a1; }


