

:root 
{
    --bg: #faf9ff;       
    --headfoot-bg: #d8baff;   
    --text: #1a1a1a;
    
    --card: #ffffff;
    --card-border: #e6d9ff;
    --tag: #eaeaeaaa;

    --accent: #b388ff;
    --accent-strong: rgb(114, 76, 173);
    --accent-soft: #d1b7ff;
    --accent-text: #ffffff; 

    --link: #7a4fd3;
}

body.dark 
{
    --bg: #1f1f1f;
    --headfoot-bg: #432767;
    --text: #eaeaea;

    --card: #0e0e0e;
    --card-border: #50007e;

    --tag: #2a2a2a;

    --accent: #b388ff;
    --accent-strong: #d1b7ff;
    --accent-soft: #6a438a;

    --link: #caa6ff;
}